
<div class="container">
  <!-- Carrusel de Imágenes -->
<!-- Carrusel de Imágenes -->
<div class="carousel-container">
  <div #carousel class="carousel">
    <div class="carousel-item" *ngFor="let image of images">
      <img [src]="image" alt="Imagen">
    </div>
  </div>

  <!-- Controles de Navegación -->
  <div class="carousel-controls">
    <button  class="prev-button">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button (click)="moveCarousel('next')" class="next-button">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>


  <!-- Vínculo de WhatsApp -->
  <div class="wa-link-container">
  <a href="https://wa.me/123456789" target="_blank" class="wa-link">
    <i class="fab fa-whatsapp"></i>
    <span></span>
  </a>
  </div>

  <!-- Sección Quiénes Somos -->
  <section class="about-us">
  <div class="about-text">
    <h2><span>¿Quién es <br> Línea Karla?</span></h2>
    <p class="years">
      <strong>32</strong>
      <button class="plus-icon">+</button>
      <span>Años en <br> el comercio</span>
    </p>
    <h3>Marca totalmente <br> mexicana</h3>
    <p>Somos una marca productora del <br> estado de Tlaxcala, que nació con el <br> objetivo de crear productos de alta <br> calidad para el hogar.<br>
      Nos especializamos en el comercio y <br> la fabricación de productos textiles <br> de categoría, combinando tradición, <br> excelencia y tendencias para ofrecer <br> los mejores productos a nuestros <br> clientes, garantizando un servicio <br> íntegro y satisfactorio.
    </p>
  </div>
  </section>
  <!-- Sección Quiénes Somos- parte dos -->
  <section class="about-section">
  <h2 class="section-title">Somos más que una marca, <span><br>somos parte de tu hogar</span></h2>

  <div class="video-container">
    <video controls>
      <source src="tu-video.mp4" type="video/mp4">
      Tu navegador no soporta la etiqueta de video.
    </video>
  </div>

  <div class="orange-strip">
    <div class="info-container">
      <div class="info-box">
        <i class="fas fa-bullseye"></i>
        <h3 class="caption">Visión</h3>
        <p class="cap">Ser reconocidos como empresa líder e innovadora en el ramo, a través de la implementación de procesos que nos permitan posicionarnos en el mercado global en el ámbito nacional y externo, ambiental e integralmente.</p>
      </div>

      <div class="info-box">
        <i class="fas fa-hands-helping"></i>
        <h3 class="caption">Valores</h3>
        <div class="values-list">
          <ul>
            <li>Respeto</li>
            <li>Integridad</li>
            <li>Entusiasmo</li>
          </ul>
          <ul>
            <li>Humildad</li>
            <li>Responsabilidad</li>
            <li>Autenticidad</li>
          </ul>
        </div>
      </div>

      <div class="info-box">
        <i class="fas fa-flag"></i>
        <h3 class="caption">Misión</h3>
        <p class="cap">Inspirar y comercializar bienes para el hogar, implementando procesos dinámicos de innovación, calidad y eficacia orientados con las necesidades de<br> los clientes, a través de la participación comprometida y capacitada de quienes colaboramos en esta empresa.</p>
      </div>
    </div>
  </div>
  </section>



  </div>
