<header class="header">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Línea Karla">
  </div>
  <nav class="nav">
      <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">¿Quiénes somos?</a></li>
          <li><a href="#">Nuestros productos</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
  </nav>
  <div class="search-lang">
      <div class="search-container">
          <!-- Input de búsqueda -->
          <input type="text" class="search-input" placeholder="Escribe lo que deseas buscar">

          <!-- Ícono de lupa usando FontAwesome -->
          <i class="fas fa-search search-icon"></i>
      </div>

      <!-- Selector de idioma -->
      <div class="lang-container">
          <div class="lang-switch en">EN</div>
          <div class="lang-switch sp">SP</div>
      </div>
  </div>
</header>
