 <!-- Agregamos el formulario de contacto -->
 <div id="contacto" class="container-formulario">
  <div class="formulario">
    <h2 class="contacto">Contáctanos</h2>
    <p class="frase">Si requieres de alguna cotización u información adicional</p>
    <form class="en" action="procesar_formulario.php" method="POST">
      <!-- Campos Nombre y Apellido -->
      <input type="text" name="nombre" placeholder="NOMBRE" required>
      <input type="text" name="apellido" placeholder="APELLIDO" required>

      <!-- Campos Ciudad y CP en la misma fila -->
      <div class="ciudad-cp">
        <input type="text" name="ciudad" placeholder="CIUDAD" required>
        <input type="text" name="cp" placeholder="CP" required>
      </div>

      <!-- Campos Teléfono y Email -->
      <input type="tel" name="telefono" placeholder="TELEFONO" required>
      <input type="email" name="email" placeholder="E-MAIL" required>

      <!-- Campo "Dinos en qué te podemos ayudar" -->
      <textarea name="mensaje" placeholder="Escribe aquí lo que necesitas..." required></textarea>

      <!-- Radio botón para "No soy un robot" -->
      <div class="robot-check">
        <input type="radio" name="robot" required>
        <label>No soy un robot</label>
      </div>

      <button type="submit">Enviar</button>
    </form>
  </div>
  <div class="mapa">
    <iframe src="https://www.google.com/maps?q=Zaragoza+1,+Guadalupe+Ixcotla,+90810+Santa+Ana+Chiautempan,+Tlax.&output=embed" allowfullscreen></iframe>
  </div>
</div>
