  <!-- Los mejores productos hechos en mexico -->
  <section>
    <h2 class="section-title2">Los mejores <span>productos<br>hechos en México</span></h2>

    <div class="botones">
      <button class="boton-cobertores" id="cobertores">Cobertores</button>
      <button class="boton-colchas" id="colchas">Colchas</button>
    </div>

    <div class="parrafos">
      <p id="parrafo-cobertores" class="oculto">Este es el párrafo de cobertores.</p>
      <p id="parrafo-colchas" class="oculto">Este es el párrafo de colchas.</p>
    </div>
    </section>

    <!-- Conoce nuestras marcas -->
    <section>
    <h2 class="section-title3"><i>Conoce</i><br>nuestras marcas</h2>

    <div class="contenedor-botones">
      <button class="boton-imagen" id="boton-1">
        <img src="" alt="">
        <span>Cobertores</span>
      </button>
      <button class="boton-imagen" id="boton-2">
        <img src="" alt="">
        <span>Colchas</span>
      </button>
    </div>
  </section>
