/* Importar fuente Grotesque */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grosso&display=swap');
html {
  scroll-behavior: smooth;
}

/* Variables de color */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #E09F19;
    --tertiary-color: #F3C00F;
    --text-primary: #5C3F0B;
    --text-secondary: #6B6B6B;
    --background-color: #F5F5F5;
    --hover-bg: rgba(224, 159, 25, 0.2); /* Sombreado claro para hover */
}

